---
layout:           default
---
<div id="head">
    <div class='logo left'>
        <a href="/" title="Home">Higher</a>
    </div>
    <div id="header">
        <div class="nav right">
            <a href="/" title="Thoughts On Something">Blog</a>
            <a href="/netProgram" title="NetWork Programming">NetProgram</a>
            <a href="/cplusplus" title="C/C++">C/C++</a>
            <a href="/tips" title="开发工具的使用及技巧">Tips</a>
            <a href="/wiki" title="Wiki" >Wiki</a>
            <a href="/about" title="About BeiYuu" >About</a>
            <a href="{{ site.feed }}" rel="feed" title="Subscribes The Feed" target="_blank">RSS</a>
        </div><!-- .nav -->
    </div><!-- #header -->
</div><!-- #head -->
<div id="content">
    {{ content }}
</div><!-- #content --> 

<!--<script type="text/javascript">
    var wumiiPermaLink = ""; //请用代码生成文章永久的链接
    var wumiiTitle = ""; //请用代码生成文章标题
    var wumiiTags = ""; //请用代码生成文章标签，以英文逗号分隔，如："标签1,标签2"
    var wumiiSitePrefix = "http://feidegenggao.github.com/";
    var wumiiParams = "&num=5&mode=3&pf=JAVASCRIPT";
</script>
<script type="text/javascript" src="http://widget.wumii.com/ext/relatedItemsWidget"></script>
<a href="http://www.wumii.com/widget/relatedItems" style="border:0;">
<img src="http://static.wumii.cn/images/pixel.png" alt="无觅相关文章插件，快速提升流量" style="border:0;padding:0;margin:0;" />
</a>
-->

<div id="footer">
    <div class="copyright right">
        {% for line in site.copyright %}
        <p>{{ line }}</p>
        {% endfor %}
    </div>
</div><!-- #footer -->
